*{
    padding: 0%;
    margin: 0%;
    border: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    
}
.bg{
    position: fixed;
    background-color: #ffeedd;
    width: 100%;
    height: 100%;
}
.header{
    position: absolute;
    width: 100%;
    height: 10%;
}
.logo{
    position: absolute;
    font-family: 'Montez', cursive;
    color: rgb(86, 86, 190);
    top: 5px;
    left:5px;
    font-size: 48px;
}
.nav{
    position: absolute;
    right: 5px;
    top: 5px;
}
.subhead{
    position: absolute;
    color: rgb(86, 86, 190);
    font-family: 'Ubuntu Mono', monospace;
    top: 60px;
    left: 5px;
}
.signupbtn,.signinbtn{
    background-color: blue;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    color: white;
    border: 1px solid rgb(30, 30, 180);;
    border-radius: 5px;
    cursor: pointer;
}
.signupbtn:hover,.signinbtn:hover{
    background-color: rgb(65, 65, 158)
}
.container{
    position: absolute;
    padding: 2%;
    width: 100%;
    top: 54%;
    left: 54%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 33% 33% 33%;
    height: 85%;
    column-gap: 0%;
    row-gap: 0%;
}
.posts{
    background-color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
    width: 83%;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 69%;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transform-origin: bottom;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.posts:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.post1{
    nimation-name: bounce;
    animation-timing-function: ease;
}
.post2{
    animation-name: bounce;
    animation-timing-function: ease;
    animation-delay: 0.4s;
}
.post3{
    animation-name: bounce;
    animation-timing-function: ease;
    animation-delay: 0.8s;
}
}
.post4{
    animation-name: bounce;
    animation-timing-function: ease;
    animation-delay: 1.2s;
}
}
.post5{
    animation-name: bounce;
    animation-timing-function: ease;
    animation-delay: 1.6s;
}
}
@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-100px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}
.maincon{
    background-color: #E8E8E8;
    height: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 0px 10px 10px 0;

}
.title{
    display: flex;
    color: gray;
    font-weight: 500;
    font-size: 125%;
    justify-content: space-between;
    width: 100%;
    padding: 1% 0% 1% 3%;
}
.subtitle{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    padding: 1% 0% 0% 3%;
    height: 70%;
    overflow: hidden;
    justify-content: space-between;
}
.subtitle span{
    align-self: end;
}
.name{
    padding: 2%;
    color: gray;
    font-size: 125%;
    font-weight: 900;
}
i{
    color: rgb(100, 98, 98);
}
i:hover{
    color: black;
    font-size: 150%;
}

.over{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.9);
}  
.delete{
    position: absolute;
    height: 20%;
    transform: translate(-50%, -50%);
    background-color: white;
    left: 50%;
    top: -50%;
    display: flex;
    font-size: 150%;
    flex-direction: column;
    padding: 2%;
    justify-content: space-between;
    font-family: 'Ubuntu Mono', monospace;
}  
.animationtop{
    animation-name: animatetop;
    animation-duration: 0.4s;
    top: 50%;
}
@keyframes animatetop {
    from {top: -300px; opacity:0}
    to {top: 50%;  opacity:1}
  }
.yes-no{
    display: flex;
    justify-content: space-between;
} 
.yes{
    background-color: green;
    padding: 2% 6%;
    color: white;
    cursor: pointer;
} 
.yes:hover{
    background-color: rgb(22, 179, 22);
}
.no{    background-color: red;
    padding: 2% 6%;
    color: white;
    cursor: pointer;
}
.no:hover{
    background-color: rgb(170, 15, 15)
}
.center{
    position: relative;
    left: 50%;
}
